<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BaoAnGongFisher.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C04029D828C84E5900F83CD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C04029ED28C84E5A00F83CD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C04029F728C84E5A00F83CD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
